.dashboard-view{
	padding: 3rem 0;
	.dashboard-view-container{
		width: 100%;
		margin-top: 2rem;
		.emailfield-container{
			width: 100%;
			margin-bottom: 1rem;
			.email-field{
				width: 75%
			}
			.mobile-number-field{
				width: 75%;
			}
			.address-textfield{
				width: 75%;
			}		
		}
		.other-textfield{
			width: 75%;
			margin-bottom: 1rem;
		}
		.save-button{
			border: 1px solid #cccccc;
			width: 30%;
		}
	}
}